.compass-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compass {
  position: relative;
  z-index: 2;
}

.compass-glow {
  display: none;
}

@media (max-width: 768px) {
  .compass-container {
    margin: 40px auto;
  }
}
